# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/build/
ios/.generated/

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
*.jks

# Firebase/Secrets
google-services.json
GoogleService-Info.plist
*.env
*.env.*

# VS Code / IDEs
.vscode/
.idea/
*.iml

# Logs
*.log

# Assets temporários (se você gerar dumps ou imagens locais)
*.tmp
*.temp

# Arquivos de sistema
.DS_Store
Thumbs.db
